@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #0F766E;
  --color-secondary: #334155;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.dark {
  --background: #020617;
  /* slate-950 */
  --foreground: #f8fafc;
  /* slate-50 */
}

@layer base {
  body {
    @apply bg-white text-black dark:bg-slate-950 dark:text-slate-50;
  }
}